body {
    background-color: beige;
    margin-bottom: 40px;
}

.body {
    margin: 200px;
    font-family: "Baskervville SC", serif;
}

#title {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: rgb(250, 207, 114);
    margin-bottom: 15px;
    width: 100%;
}

li {
    padding: 10px;
    font-size: 20px;
    color: black;
}

.page-links {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 10px;
    font-style: bold;
}

/* Body */

.body {
    margin: 10px;
    height: 400px;
}

#filler {
    display: flex;
    justify-content: center;
}

#img {
    height: 380px;
    display: flex;
    justify-content: center;
    
}

.site-section {
    margin: 40px;
    border: solid;
    background-color:darkcyan;
    padding: 25px;
    box-shadow: 100%;
    margin-bottom: 200px;

}

.section-header {
    display: flex;
    justify-content: start;
    font-size: 50px;
    height: 400px;
}

/* Footer */

footer {
    margin: 400px;
}