body {
    background-color: beige;
}

#title {
    display: flex;
    justify-content: center;
}

.navbar {
    border: solid black ;
    background-color: salmon;
    margin: 15px;
}

li {
    padding: 10px;
    font-size: 20px;
    color: black;
}

.page-links {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 10px;
    font-style: bold;
}

/* Body */

.body {
    border: solid;
    margin: 10px;
    height: 400px;
}

#filler {
    display: flex;
    justify-content: center;
}

#img {
    height: 380px;
    display: flex;
    justify-content: center;
    
}

.site-section {
    margin: 40px;
}

.section-header {
    display: flex;
    justify-content: center;
}